@font-face {font-family: "ITC Benguiat";
    src: url("../fonts/ITC-Benguiat-Bold-Condensed.woff2") format("woff2"),
    url("../fonts/ITC-Benguiat-Bold-Condensed.woff") format("woff"),
    url("../fonts/ITC-Benguiat-Bold-Condensed.ttf") format("truetype")
}

@font-face{font-family: "ITC Avante Garde Gothic";
    src: url("../fonts/ITC-Avant-Garde-Gothic-LT-Book.ttf") format("truetype")
}

:root{
    --color-dark: #222;
    --color-red: #F24F48;
    --color-light: #fff;
    --shadow-red: 0 0 11px RGBA(232,7,19,.75);
}

body{
    font-family: 'ITC Avante Garde Gothic', sans-serif;
}

#loader{
    transition: all 2s ease;
    z-index: 100;
}

#loader.hidden{
    height: 0;
    visibility: hidden;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'ITC Benguiat', serif;   
}    

h1{
    font-size: 5em;
}

.text-center{
    text-align: center;
}

.text-load{
    line-height: 100vh;
}

.text-stranger{
    position: relative;
    display: inline-block;
    color: var(--color-dark);
    text-shadow: var(--shadow-red);
}

.text-stranger::after{
    position: absolute;
    left: 0;
    top: 0;
    content: attr(data-content);
    -moz-text-stroke-color: var(--color-red);
    -webkit-text-stroke-color: var(--color-red);
    -moz-text-stroke-width: 4px;  
    -webkit-text-stroke-width: 4px;
    z-index: -1;
}

.cont-fixed{
    top:0;
    left:0;
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.cont-fullheight{

}

.color-dark{
    color: var(--color-light);
    background-color: var(--color-dark);
}

#container{
    display: flex;
    width: 100%;
}

#container div{
    flex-grow: 1;
}

.player{
    padding: 1em;
    margin: 1em;
    border: 1px solid var(--color-red);
    cursor: pointer;
    position: relative;
}

.player-chosen{
    background-color: var(--color-red);
}

button{
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

button:focus{
    outline:0;
}

.btn{
    display: block;
    margin: 0 auto;
    padding: .5em 1em;
    border-radius: 2em;
}

.btn-hidden, .player-hidden{
    opacity: 0;
    display: none;
}

.btn-select{
    border: 1px solid #000;
    background: var(--color-red);
}

.btn-close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
}