@font-face {font-family: "ITC Benguiat";
    src: url("../fonts/ITC-Benguiat-Bold-Condensed.woff2") format("woff2"),
    url("../fonts/ITC-Benguiat-Bold-Condensed.woff") format("woff"),
    url("../fonts/ITC-Benguiat-Bold-Condensed.ttf") format("truetype")
}

@font-face{font-family: "ITC Avante Garde Gothic";
    src: url("../fonts/ITC-Avant-Garde-Gothic-LT-Book.ttf") format("truetype")
}

:root{
    --color-dark: #222;
    --color-red: #F24F48;
    --color-light: #fff;
    --shadow-red: 0 0 11px RGBA(232,7,19,.75);
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'ITC Avante Garde Gothic', sans-serif;
}

#loader{
    transition: all 2s ease;
    z-index: 100;
}

#loader.hidden{
    height: 0;
    visibility: hidden;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'ITC Benguiat', serif;   
}    

h1{
    font-size: 5em;
}

strong{
    font-weight: bold;
}
.text-center{
    text-align: center;
}

.text-load{
    line-height: 100vh;
}

.text-stranger{
    position: relative;
    display: inline-block;
    color: var(--color-dark);
    text-shadow: var(--shadow-red);
}

.text-stranger::after{
    position: absolute;
    left: 0;
    top: 0;
    content: attr(data-content);
    -moz-text-stroke-color: var(--color-red);
    -webkit-text-stroke-color: var(--color-red);
    -moz-text-stroke-width: 4px;  
    -webkit-text-stroke-width: 4px;
    z-index: -1;
}

.cont-fixed{
    top:0;
    left:0;
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.color-dark{
    color: var(--color-light);
    background-color: var(--color-dark);
}

#container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 1em;
    min-height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;	
    
}

.wrapper{
    width: 70%;
    display: block;
    margin: 0 auto;
}

body{
    background-image: url('../images/wood2.jpg');
    background-repeat: repeat;
    transition: background-image 1s ease;    
}


.player{
    cursor: pointer;
}

.player-chosen{
    background-color: var(--color-red);
}

button{
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

button:focus{
    outline:0;
}

.btn{
    display: block;
    margin: 0 auto;
    padding: .5em 1em;
    border-radius: 2em;
}

.btn-hidden, .player-hidden{
    opacity: 0;
    display: none;
}

.btn-select{

}

.btn-close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
}


.player-polaroid{
    margin: 1em;
    position: relative;
    height: auto;
    -webkit-perspective: 800px;
    perspective: 800px;
  
    /* background-image: url("../images/polaroid.png"); */
    /* -webkit-transform: rotateY( 180deg );
    transform: rotateY( 180deg ); */

}

.player-polaroid, .player-polaroid .btn-select{
    font-family: 'Caveat', cursive;
    font-size: 20px;
    color: rgba(0,0,0,.65);

}


.polaroid-front, .polaroid-back{
    border-radius: 5px;
    padding: 1em;
    box-shadow: 1px 3px 3px rgba(50,25,0,.25), inset 2px 2px 0px rgba(255,255,255, .5), 1px 1px 2px rgba(50,25,0,.25);
    background-color: #faefdf;
    /* position: absolute;
    top: 0;
    left:0; */
 
    height: 100%;
    -webkit-transition: -webkit-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

}

.polaroid-front{
    padding-bottom: 2em;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


.player-polaroid:hover .polaroid-front{
    -webkit-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.player-polaroid:hover .polaroid-back{
    -webkit-transform: rotateY( 0deg );
    transform: rotateY( 0deg );
}

.polaroid-back{
    position: absolute;
    width: 100%;
    top: 0;
    left:0;
    -webkit-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}



.img-polaroid-wrap{
    position: relative;
    border-radius: 5px;
}

.img-polaroid{
    border-radius: 5px;
}

.img-fluid{
    width: 100%;
}

.img-polaroid-wrap::after{
    border-radius: 5px;
    border-right: 1.5px solid rgba(255,255,255, .75);
    border-bottom:  1.5px solid rgba(255,255,255, .75);
    box-shadow: inset 1px 2px 2px rgba(0,0,0,.25);
    content: '';
    display: block;
    height: 99%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.player-game{
    box-sizing: content-box;
    border: 3px solid var(--color-red);
    background-color: var(--color-red);
    color:white;
    text-align: center;
    position: relative;
    border-radius: 50%;
    transition: width .25s ease, border .5s ease;
    width: 75%;
    overflow: hidden;
}

.circle-card-stats{
    position: absolute;
    top: 0;
    background-color: var(--color-red);
    opacity: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    width:100%;
    transition: opacity .5s ease, visibility 1s ease;
}

.stats-inner{
    line-height: 100%;
    align-self: center;
}

.img-player{
    margin: 0 auto;
    display: block;
}


.player-game:hover{
    border-radius: 50%;
    width: 80%;
    border: 10px solid var(--color-red);

}

.player-game:hover .circle-card-stats{
    opacity: 1;
}

